@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/*reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/*variables*/
:root {
  --hue: 240;
  --primary-color: hsl(var(--hue),9%, 89%, 1);
  --second-color: hsl(var(--hue),7%, 78%, 1);
 

  font-size: 62.5%;
}
/*===============Pages=============================*/



.hide {
  display: none;
}

.universe {

  background-image: url('../images/mountains-universe-2.svg');
}

.exploration {
  background-image: url('../images/mountains-universe-3.svg');
}

body.home a:nth-child(1) {
  font-weight: 700;
  color: var(--primary-color);
}

body.universe a:nth-child(2) {
  font-weight: 700;
  color:var(--primary-color);
}

body.exploration a:nth-child(3) {
  font-weight: 700;
  color: var(--primary-color);
}

body.erro a:nth-child(4){

  font-size: 20rem;
  color:red;

  
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  height: 100vh;
  width: 100vw;
  background-image: url('../images/mountains-universe-1.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}  

nav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 4rem 7.2rem;
  font-size:2.2rem;
  
}

nav ul a {
  color: var(--second-color);
  margin-left: 3.2rem;
  text-decoration: none;
  
}

nav ul a:hover {
  color: #9acddd;
  font-weight: bold;
  border-bottom: 1px solid var(--blue-color);
  transition: all 400ms;
}


.home-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 17.2rem;
  gap: 24px;
}


.home-page h1 {
  color: var(--second-color);
  font-weight: bold;

}

.home-page .button-home {
  color: var(--primary-color);
  font-size: 1.4rem;
  padding: 1.2rem 3.2rem;
  text-transform: uppercase;
  border: 2px solid  var(--primary-color);
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
}

.home-page .button-home:hover {
  filter: drop-shadow(0 5px 2px rgb(73, 185, 187));
}


.universe-page, 
.exploration-page {
  color: var(--second-color);
  margin-top: 6.3rem;
  padding-left: 10.2rem;
  padding-right: 2rem;
}


.universe-page h1, 
.exploration-page h1 {
  font-size: 4.8rem;
}


.universe-page p, 
.exploration-page p {
  margin-top: 1.6rem;
  font-size: 1.8rem;
  max-width: 64.8rem;
}







@media (max-width: 484px) {
  nav {
    width: 100vh;
    height: 100vh;
    justify-content: center;
    padding: auto;
    font-size: small;
  }

  .universe-page, 
  .exploration-page {
    margin-top: 6.3rem;
    padding-left: 10.2rem;
    padding-right: 2rem;
  }


  .universe-page h1, 
  .exploration-page h1 {
  font-size: 4rem;
  }


  .universe-page p, 
  .exploration-page p {
    font-size: 1.4rem;
  }
}
